<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NWDataGridView.Properties.Settings.NorthwindConnectionString"
        connectionString="Data Source=RDM-DESKTOP\SQLEXPRESS;Initial Catalog=CryptoWebScraper.CryptoCurrencyContext;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>